@model MyDictionary.Web.ViewModels.ResultViewModel


<div class="row mb-3">
    <div class="col-md-12">
         <span style="font-style: italic;">
            <input hidden asp-for="PartOfSpeech" />
            @Model?.PartOfSpeech  
        </span>
    </div>
    <div class="col-md-12 ml-2 ">
        @if (Model != null)
        {
            @if (Model.Synonyms != null)
            {
                <span style="color: #188038;">Similar: </span>

                @foreach (var synonym in Model.Synonyms)
                {
                    <span class="pr-3">@synonym</span>
                }
            }

        }
        <input hidden asp-for="Definition" />

        @Model.Definition
    </div>
    <br />   
     
    <div class="col-md-12">
        <input asp-for="@Model.IsSaved" type="checkbox" />  
    </div>
    
</div>