@model MyDictionary.Web.ViewModels.ResultViewModel


<div class="row mb-3">
    <div class="col-md-12">
         <span style="font-style: italic;">
            @Model?.PartOfSpeech  
        </span>
    </div>
    <div class="col-md-12 ml-2 ">
        @Model.Definition
        <br />   
        
        @if (Model.Synonyms != null)
        {
            <span style="color: #188038;">Similar: </span>
            
            @foreach (var synonym in Model.Synonyms)
            {
                <span class="pr-3">@synonym</span>
            }
        }
    </div>
    <div class="col-md-12">
        <input asp-for="@Model.IsSaved" name="IsSaved" type="checkbox" />  
    </div>
    
</div>