
@model MyDictionary.Web.ViewModels.LookupWordViewModel


<div class="text-center">
    <h1 class="display-4">My Dictionary</h1>
</div>
<partial name="/Views/Shared/_Search.cshtml">
@if(Model != null)
{
    <div class="col-md-12">

    <h3>
        @Model.WordDisplay
    </h3>
       
    <span style="color: #70757A; line-height: 16px; font-size: 14px">
    @Model.Pronunciation
    </span>
        
    </div>
    <div class="col-md-12">
            <form asp-controller="MyWords" asp-action="@(Model.IsSaved ? "Delete" : "Add")">
                @if (Model.Results != null)
                {
                    @*<input hidden asp-for="UserId" name="UserId" />*@
                    <input hidden asp-for="Spelling" name="Word" />

                    @Html.DisplayFor(m => Model.Results)
                    @if (Model.IsSaved)
                    {
                        <input id="inputSubmit" type="submit" value="Remove from List" class="btn btn-success" />
                    }
                    else
                    {
                        <input id="inputSubmit" type="submit" value="Save to List" class="btn btn-primary" />
                    }

                }
                else
                {
                    <span>No definition found</span>
                }
            </form>
        </div>
}
    
    

    @section Scripts {
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- Javascript -->
        <script type="text/javascript">
            jQueryAjaxPost = form => {
                try {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: new FormData(form),
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.isValid) {

                            }
                            else {

                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                } catch (e) {
                    console.log(e);
                }

                // to prevent form submit event
                return false;
            }

            $(function(){
                $("#word").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/Home/StringSearch/?searchString=" + request.term,
                            method: 'get',
                            success: function (data) {
                                //alert(data);

                                var obj = $.parseJSON(data);
                                response(obj.results.data);
                            }
                        });
                    },
                    minLength: 3,
                    error: function (message) {
                        alert(message);
                    },
                    autoFocus:true
                });
            });

        </script>
}