
@model MyDictionary.Web.ViewModels.LookupWordViewModel


<div class="text-center">
    <h1 class="display-4">My Dictionary</h1>
</div>
<partial name="/Views/Shared/_Search.cshtml">
@if(Model != null)
{
    <div class="col-md-12">

    <h3>
        @Model.WordDisplay
    </h3>
       
    <span style="color: #70757A; line-height: 16px; font-size: 14px">
    @Model.Pronunciation
    </span>
        
    </div>
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="Save" method="post">
            @if (Model.Results != null)
            {
                <input hidden asp-for="UserId" />
                <input hidden asp-for="Spelling" />
                @Html.DisplayFor(m => Model.Results)
                <input id="inputSubmit" type="submit" value="Save" class="btn btn-primary" />

            }
            else
            {
                <span>No definition found</span>
            }
        </form>
    </div>
}
    
    

    @section Scripts {
     <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
               <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- Javascript -->
      <script type="text/javascript">
          

          $(function(){
            $("#word").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/StringSearch/?searchString=" + request.term,
                        method: 'get',
                        success: function (data) {
                            //alert(data);

                            var obj = $.parseJSON(data);
                            response(obj.results.data);
                        }
                    });
                },
                minLength: 3,
                error: function (message) {
                    alert(message);
                },
                autoFocus:true
           });
        });
           //  $("#word").autocomplete({  
           //      source: "/Home/StringSearch/?searchString=a",
           //      autoFocus: true,
           //      select: function (event, ui) {
           //         //Tags for display              
           //         this.value = ui.item.value;
           //         return false;
           //     }
           //})
       //});  
         //   var availableTutorials = [
         //      "ActionScript",
         //      "Bootstrap",
         //      "C",
         //      "C++",
         //   ];
         //   $( "#word" ).autocomplete({
         //      source: availableTutorials,
         //      autoFocus:true
         //   });
         //});
      </script>
}